body {
    width: 100%;
    height: 100%;
    background-image: url(day_515.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.icon {
    width: 100%;
    max-width: 102px;
    box-shadow: -1px 8px 8px rgba(5, 20, 40, 0.22);
    border-radius: 10px;
    background-color: #091d37;
    margin-top: 60px;
    margin-bottom: 30px;
    }
    .icon .icon-linkedin .iconBanner::before{ 
        content: attr(data-counter);
        top: -10px;
        right: -10px;    
        width: 36px;
        height: 36px;
        font-size: 15px;
        color: #011632;
        line-height: 27px;
        font-style: normal;
        position: absolute;
        text-align: center;
        border-radius: 100%;
        letter-spacing: normal;
        background-color: #ff9800;
        border: 5px solid #3949ab;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .icon-linkedin{
position: relative;
    }

.icon  .icon-linkedin  i {
    padding: 34px 34px;
    color: #ffffff;
    font-size: 30px;
}

.content {
    width: 100%;
    max-width: 879px;
    box-shadow: -1px 8px 8px rgba(5, 20, 40, 0.22);
    border-radius: 10px;
    background-color: #091d37;
    padding: 56px 84px 13px 53px ;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.content .text{
    font-style: normal;
    letter-spacing: normal;
    font-family: Montserrat;
}
.title{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 39px;
}
.content  .col2{
    display: flex;
    color: #ffffff;
}
.listHeader{
    display: flex;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    margin-bottom: 14px;
}
.content .yazi{
    margin-bottom: 8px;
}
.content .listReply{
    margin-bottom: 6px;
}

.content  .resim img {
    border-radius: 100%;
    border: 10px #051428 solid;
    opacity: 0.51;
}
.content  .col2 .text{
    padding-left: 25px;
    margin-bottom: 30px;
}

.content  .col2 .text a {
    color: #ff9800;
    font-size: 15px;
    line-height: 23px;
    text-decoration: none;
}
.zaman{
    color: #5c6bc0;
    font-size: 12px;
    padding-left: 7px;
}
.profile {
    width: 100%;
    max-width: 475px;
    box-shadow: -1px 8px 8px rgba(5, 20, 40, 0.22);
    border-radius: 10px;
    background-color: #0b213d;
    padding: 75px 43px 69px  58px;
    text-align: center;
    margin-bottom: 16px;
}
.profile  .profil .resim img{
    border-radius: 100%;
    background-color: #051428;
    opacity: 0.51;
    border: 30px #051428 solid;
    margin-bottom: 27px;
}

.profile  .profil h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    margin: 0;
    margin-bottom: 21px;
    font-weight: 200;
} 
.profile  .profil h3{
    color: #5c6bc0;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    margin-bottom: 65px;
}
.profile  .profil li {
    margin-bottom: 65px;
    display: inline-block;
}
.profile .profil .fallowing {
    margin-left:77px;
    margin-right: 58px;
}

.profile  .profil h5{
    color: #5c6bc0;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.profile  .profil li p{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    font-weight: 700;
}
.profile button {
    border-radius: 3px;
    background-color: #ff9800;
    border: 0px;
    color: #091d37;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    padding: 5px 30px;
    font-weight: 600;
}
    .general-menu {
        /* Felx Elemanlarını tek tek denemesi yapılacak. */
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        /* Box Sizing özelliği için araştıma bekliyorum senden. */
        box-sizing: border-box;

        width: 100%;
        max-width: 980px;
        margin-bottom: 3em;
        border-radius: 10px;
        background-color: #0f2747;
        padding: 19px 19px 19px 43px;
        box-shadow: -1px 8px 8px rgb(5 20 40 / 22%);
    }

    .general-menu .avatar > img {
        border-radius: 100%;
    }

    .general-menu .general-nav-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .general-menu .general-nav-list .general-nav-list-item {
        margin-right: 65px;
    }
    /* :last-child ve benzeri elemanların araştrılması yapılacak. */
    .general-menu .general-nav-list .general-nav-list-item:last-child {
        margin-left: auto;
        margin-right: 25px;
    }

    .general-menu .general-nav-list .general-nav-list-link {
        font-size: 18px;
        color: #5c6bc0;
        line-height: 36px;
        font-style: normal;
        text-decoration: none;
        letter-spacing: normal;
        font-family: Montserrat;
    }

    .general-menu .general-nav-list .general-nav-list-link:hover {
        border-bottom: 1px solid #ff9800;
        color:#ffffff;
    }

    .general-menu .general-nav-list .general-nav-list-link.bell {
        font-size: 35px;
        position: relative;
    }

    .general-menu .general-nav-list .general-nav-list-link.bell:before {
        content: attr(data-counter);
        top: -10px;
        right: -10px;    
        width: 27px;
        height: 27px;
        font-size: 15px;
        color: #011632;
        line-height: 27px;
        font-style: normal;
        position: absolute;
        text-align: center;
        border-radius: 100%;
        letter-spacing: normal;
        background-color: #ff9800;
    }

    
    .listHeader{
        display: flex;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        margin-bottom: 14px;
    }
    .listReply{
        margin-bottom: 15px;
    }
    .yazi{
        margin-bottom: 18px;
    }